apiVersion: v1
kind: ConfigMap
metadata:
  name: proxy-pass-nginx-config
  namespace: {{ .Release.Namespace }}
data:
  nginx.conf: |
    events {}
    http {
      server {
        listen 80;
        location / {
          proxy_pass https://contour-envoy.contour-system.svc.cluster.local:443;
          proxy_ssl_verify off;
          proxy_set_header Host {{ .Values.kaytu.domain.main }};
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_set_header X-Forwarded-Host $host;
          proxy_set_header X-Forwarded-Port $server_port;
        }
      }
    }
