apiVersion: apps/v1
kind: Deployment
metadata:
  name: compliance-summarizer
  namespace: {{ .Release.Namespace }}
  labels:
    app: compliance-summarizer
spec:
  minReadySeconds: 10
  replicas: 1
  selector:
    matchLabels:
      app: compliance-summarizer
  template:
    metadata:
      labels:
        app: compliance-summarizer
    spec:
      serviceAccountName: compliance-summarizer
#      tolerations:
#        - key: "kaytu.io/worker"
#          operator: "Exists"
#          effect: "NoSchedule"
#      affinity:
#        nodeAffinity:
#          requiredDuringSchedulingIgnoredDuringExecution:
#            nodeSelectorTerms:
#              - matchExpressions:
#                  - key: kaytu.io/node-type
#                    operator: In
#                    values:
#                      - worker
      containers:
        - name: compliance-summarizer
          image: {{ .Values.kaytu.compliance.summarizer.image.repo }}:{{- dig .Values.kaytu.envType .Values.kaytu.compliance.summarizer.image.tag.dev .Values.kaytu.compliance.summarizer.image.tag }}
          command: ["/compliance-summarizer"]
          args:
            - --id=$(WORKER_ID)
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 100Mi
          env:
            - name: NATS_URL
              value: "{{ .Release.Namespace }}-nats-{{ .Release.Namespace }}.{{ .Release.Namespace }}.svc.cluster.local:4222"
{{- include "elastic.envs" . | indent 12 }}

            - name: INVENTORY_BASEURL
              value: "http://inventory-service.{{ .Release.Namespace }}.svc.cluster.local:7251"
            - name: ONBOARD_BASEURL
              value: "http://onboard-service.{{ .Release.Namespace }}.svc.cluster.local:6251"
            - name: ESSINK_BASEURL
              value: "http://es-sink-service.{{ .Release.Namespace }}.svc.cluster.local:8000"
            - name: PROMETHEUS_PUSH_ADDRESS
              value: "prom-system-prometheus-pushgateway.prom-system.svc.cluster.local:9091"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: compliance-summarizer-manuals
  namespace: {{ .Release.Namespace }}
  labels:
    app: compliance-summarizer-manuals
spec:
  minReadySeconds: 10
  replicas: 1
  selector:
    matchLabels:
      app: compliance-summarizer-manuals
  template:
    metadata:
      labels:
        app: compliance-summarizer-manuals
    spec:
      serviceAccountName: compliance-summarizer
      #      tolerations:
      #        - key: "kaytu.io/worker"
      #          operator: "Exists"
      #          effect: "NoSchedule"
      #      affinity:
      #        nodeAffinity:
      #          requiredDuringSchedulingIgnoredDuringExecution:
      #            nodeSelectorTerms:
      #              - matchExpressions:
      #                  - key: kaytu.io/node-type
      #                    operator: In
      #                    values:
      #                      - worker
      containers:
        - name: compliance-summarizer
          image: {{ .Values.kaytu.compliance.summarizer.image.repo }}:{{- dig .Values.kaytu.envType .Values.kaytu.compliance.summarizer.image.tag.dev .Values.kaytu.compliance.summarizer.image.tag }}
          command: ["/compliance-summarizer"]
          args:
            - --id=$(WORKER_ID)
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 100Mi
          env:
            - name: NATS_URL
              value: "{{ .Release.Namespace }}-nats-{{ .Release.Namespace }}.{{ .Release.Namespace }}.svc.cluster.local:4222"
{{- include "elastic.envs" . | indent 12 }}

            - name: INVENTORY_BASEURL
              value: "http://inventory-service.{{ .Release.Namespace }}.svc.cluster.local:7251"
            - name: ONBOARD_BASEURL
              value: "http://onboard-service.{{ .Release.Namespace }}.svc.cluster.local:6251"
            - name: ESSINK_BASEURL
              value: "http://es-sink-service.{{ .Release.Namespace }}.svc.cluster.local:8000"
            - name: PROMETHEUS_PUSH_ADDRESS
              value: "prom-system-prometheus-pushgateway.prom-system.svc.cluster.local:9091"
            - name: MANUAL_TRIGGERS
              value: "true"
